<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style-nav.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style-forms.css' %}" type="text/css">
        <!-- JS -->
        <script type="text/javascript" src="{% static 'js/moment.js'%}" ></script>
        <script type="text/javascript" src="{% static 'js/date.js'%}" ></script>
        <!-- EXTERNAL -->
        <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
        <!--<script src="" async defer></script>-->
        <title>
            {% block title %}{% endblock title %}
            | 191it Site
        </title>
    </head>
    <body>
        <nav class="nav-div">
            <ul>
                <li>
                    <a class="active" href="{% url 'index' %}">Index</a>
                </li>
                {% if user.email %}
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li> 
                    <li>
                        <a href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                    <li>
                        <a href="{% url 'email' %}">Email</a>
                    </li>
                    <li class="start">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="start">
                        <a href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="start">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="content">
            {% block content %}
            <!--Codigo de las otras paginas-->
            
            {% endblock content %}
        </div>
        <footer>
            <strong>
                Made with <span class="iconify" data-icon="mdi:heart" data-inline="false"></span> 
                | Diego Chacón &copy; 
                | <span id="date" >Cargando...</span>
            </strong>
        </footer>
    </body>
</html>