{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <hr>
    <div class="login-form d-grid gap-2">
        {{ message }}
        <form method="POST" action="">
            {% csrf_token %}

            <label form="username">Nombre de usuario:</label>
            <input type="text" name="username"/>

            <label form="password">Contraseña:</label>
            <input type="password" name="password"/>

            <input type="submit" value="Login"/>
        </form>
    </div>
{% endblock content %}