{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h2>{{ title }}</h2>
    <hr>
    <div class="login-form d-grid gap-2">
        {{ message }}
        <form method="POST" action="">
            {% csrf_token %}
            <p>
                <label from="username">User</label>
            </p>
            <p>
                <input type="text" name="User" placeholder="User"/>
            </p>
            <p>
                <label from="password">Password</label>
            </p>
            <p>
                <input type="password" name="password" placeholder="Password"/>
            </p>
            
            <input type="submit" value="Login" class="btn btn-primary"/>
        </form>
    </div>
{% endblock content %}