{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h2>{{ title }}</h2>
    <hr>
    <div class="container" id='portfolio'>
        <div class="row">
            <div class="col col-lg-7">
                {% for portfolio in portfolios %}
                    <h3>{{portfolio.title}}</h3>
                    <p>Description: {{portfolio.description}}</p>
                    <p id="experience_year">Experience Year: <strong>{{portfolio.experience}}</strong></p>
                {% endfor %}
            </div>
            <div class="col-md-auto">
                One of three columns
            </div>
        </div>
    </div>
{% endblock content %}