.nav-div{
    width: 100%;
    height: max-content;
    border-style: none;
    opacity: 0.5;
    padding-left: 15%;
    padding-right: 15%;
}

.nav-div ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px 15px;
    overflow: hidden;
    background-color: white;
    position: sticky;
    border-style: none;
}

li{
    float: left;
}

.start{
    float: right;
    padding-right: 25px;
}

.active{
    background-color: white;
}

.nav-div li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-div li a:hover{
    background-color: black;
    color: white;
}