{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h2>{{ title }}</h2>
    <hr>
    <div class="about-div">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nulla ultricies, lobortis dui ut, laoreet felis. In ornare urna nec lorem hendrerit porta. 
            Sed odio sapien, cursus id est a, bibendum pellentesque eros. Phasellus laoreet nisi a tempor bibendum. Phasellus gravida pellentesque pellentesque. 
            Quisque fermentum placerat risus, facilisis laoreet velit cursus quis. Maecenas tincidunt aliquet massa, id elementum magna euismod a. Sed tortor lorem, 
            consequat sed orci vitae, suscipit iaculis magna. Duis nec blandit est. Duis congue viverra aliquet. Pellentesque malesuada purus nisl, quis molestie arcu 
            euismod eget.
        </p>
        <p>
            Praesent at leo ornare, consectetur lacus in, egestas justo. Morbi tincidunt elit vitae ex viverra ultricies. Aenean lobortis lorem massa, ullamcorper 
            gravida massa commodo nec. Sed non nulla faucibus, ultrices tortor aliquet, facilisis mi. Pellentesque aliquam mauris ipsum, at ultricies magna pellentesque 
            non. Nunc tempus pellentesque ipsum, quis sagittis dolor sodales ac. Nullam pharetra felis ut enim lobortis placerat. Phasellus mauris nibh, pretium ut 
            consectetur quis
        </p>
    </div>
{% endblock content %}