{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h2>{{ title }}</h2>
    <hr>
    <div class="login-form">
        <form method="POST" action="" name="frmEmail">
            {% csrf_token %}
            <p>
                <label from="email">Email from</label>
                <input type="text" name="email"/>
            </p>
            <p>
                <label from="mensaje">Mensaje</label>
                <br>
                <textarea name="mensaje" cols="30" rows="5"></textarea>
            </p>
            <input type="submit" value="Enviar Email" class="btn btn-primary"/>
        </form>
    </div>
{% endblock content %}